* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  font-family: sans-serif;
  color: #02454d;
  text-align: center;
  max-width: 1200px;
  line-height: 1.75rem;
}

table{
    width: 50%;
    margin: 10px auto;
	border: thin solid black;
	box-shadow: 0 0 10px black;
	border-collapse: collapse;
}


.title{
    padding:1rem;
    background-color: black;
    color:#ffffff;
    font-size: x-large;
}

.label{
    padding: .5rem;;
     background-color: rgb(54, 54, 54);
    color:#ffffff;
    font-size: larger;
}

td:first-child{
    color:black;
    font-weight: bolder;
}

th, td{
    padding:.4rem 1rem;
    border: 1px solid hsla(0,0%,20%,.3);
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: black;
	font-size: .85rem;
}

tbody tr:nth-child(even){
    background-color:hsl(0, 0%, 93%, 1)
}