@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@200;500;600&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ephesis', cursive;; */

:root{
  --background-color:#b3f4ff;
  --main-text-color:#294e61;
  --accent-color:#C8E6E0;
  --neutral-color:#faf8f1;
}

* {
  margin:0 auto;
}

body {
  
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
  background-image: url("../images/stripes-01.png");
  background-color: var(--neutral-color); 
  background-repeat:repeat;
  background-blend-mode:multiply;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color);
}


header {
 position: relative;
 }

h1{
font-family: 'Ephesis', cursive;
text-align: center;
font-size: 8rem;
padding:.75rem;
color: var(--main-text-color);
margin-top:4rem;
margin-bottom:0;
}
 
h2 {
text-align: center;
font-size: 2rem;
padding:.75rem;
color: var(--main-text-color);
line-height: 3rem;
text-decoration-line: underline;
}

h4 {
  font-size: 1.25rem;
  text-decoration-line: underline;
}

.social {
 text-align: center;
 }

.fa {
 padding: 10px;
 font-size: 1rem;
 width:15px;
 text-align:center;
 text-decoration:none;
 margin:5px 2px;
 border-radius: 50%;
}

.fa:hover {
    opacity:.7;
}

.fa-facebook {
    background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagarm {
  background: #bb0000;
  color: white;
}
 
#menu {
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  padding: 0.75rem 0.75rem .25rem 0.75rem;
  background-color: var(--main-text-color);
  color: var(--neutral-color);
  text-align: left;
}

#menu::before {
  content: "≡";
  font-size: 3rem;
}

.navigation {
display:block;
list-style: none;
margin: 0px;
max-width:720px;
background-color:var(--main-text-color);
 } 


.navigation li {
  display: none;
  padding:0;
}

.navigation a {
  display:block;
  color: var(--neutral-color);
  background-color: var(--main-text-color);
  padding:.25rem;
  font-size: 20px;
  text-decoration: none;
  text-align:left;
  transition:0.5s;
}

.navigation a:hover,
.navigation a:active {
  color: #026873;
  background-color: #ffffff;
}

.show li {
  display:block;
}


#weather-alert {
  background-color:var(--accent-color);
  display:none;
 
}

.alert {
  background-color: var(--accent-color);
  color: var(--main-text-color);
}

.alert-content, .temp-alert-content  {
  padding: 1rem;
  display: flex;
  /* align-items: left; */
}

.current-alert, #high-temp {
  text-align: left;
  flex-grow:1;
}

#temp-alert {
  display:block;
  background-color:var(--accent-color);
}

.closebtn, .temp-close-btn {
  margin:0;
  color: var(--main-text-color);
  background: none;
  border:none;
  font-weight: bold;
  font-size: 4rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover, .temp-close-btn:hover {
    color: var(--neutral-color);
}

#home-hero {
 position: relative;
 padding-top:10rem;
 padding-bottom:10rem;
 background-image: url("../images/background-image.webp");
 background-color: #63767a; 
 background-repeat:no-repeat;
 background-size: cover;
 background-position: bottom 10% right;
}




.hero .button {
  padding:10px 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 20%;
  right: 20%;
  max-width: 200px;
  text-align: center;
  bottom: 30px;
  background-color: var(--main-text-color);
  color: var(--neutral-color);
  text-decoration: none;
  /* border: 2px solid var(--accent-color); */
  border-radius: 20px;
  
}

.hero .button:hover {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  outline: 2px solid var(--main-text-color);
}



.rentals, #weather{
  margin:3rem auto;
  padding:1rem;
  background-color: var(--neutral-color);
  max-width: 80%;
  border: 5px solid var(--accent-color);
  border-radius: 20px;
  box-shadow: 0 2px 6px var(--main-text-color);
}

.rentals {
  position:relative;
  padding-bottom: 4rem;
}
.rentals ul {
  margin-bottom: 1rem;
}

.rentals .button {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 20%;
  right: 20%;
  bottom:10px;
  max-width: 200px;
  padding:10px 15px;
  margin:0 auto;
  text-align: center;
  background-color: var(--main-text-color);
  color: var(--neutral-color);
  text-decoration: none;
  border-radius: 20px;
}

.rentals .button:hover {
  background-color: var(--accent-color);
  color: var(--main-text-color);
}



#weather {
  text-align: center;
}

#weather figure {
  margin:0;
}

#weather p {
  margin:0;
}

#current-temp {
   font-size: 1.75rem;
}

#weather-icon {
  margin:-.75rem;
}

#humidity {
  margin-top:-2rem;
}

#day1 {
  font-size: 1.5rem;
}
footer{
  padding:1rem;
  text-align: center;
  background-color: var(--main-text-color);
  color:var(--neutral-color);
}

footer a {
  color:var(--neutral-color);
  cursor: pointer;
 
}

/* RENTALS PAGE */

#rentals-hero {
 position: relative;
 padding-top:10rem;
 padding-bottom:10rem;
 background-image: url("../images/man-on-scooter.webp");
 background-color: #63767a; 
 background-repeat:no-repeat;
 background-size: cover;
 background-position: bottom 50% right;
}



.rentals-info, #rentalTable, .res-form, .contact-info, .contact-form, .rental-info {
  margin:3rem auto;
  padding:1rem;
  background-color: var(--neutral-color);
  max-width: 80%;
  border: 5px solid var(--accent-color);
  border-radius: 20px;
  box-shadow: 0 2px 6px var(--main-text-color);
  
}


.flex-container {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  max-width: 80%;
}

.flex-container figure {
  margin:1rem auto;
  padding:1rem;
  background-color: var(--neutral-color);
  border: 5px solid var(--accent-color);
  border-radius: 20px;
  box-shadow: 0 2px 6px var(--main-text-color);
  
}

.flex-container figure img {
  border-radius: 20px;
}

.flex-container figure figcaption {
  text-align: center;
  background-color: var(--neutral-color);
  border-radius: 20px;
}


#rentalTable {
  border-collapse: collapse; 
  border:none;
  max-width:90%;
  table-layout: fixed;
  font-size: .75rem;
  }


thead th {
  padding:.5rem;
  background-color: var(--accent-color);
  color:var(--main-text-color);
  border-right: .25px solid var(--main-text-color);
  border-bottom: .25px solid var(--main-text-color)
}

thead .table-title th{
  background-color: var(--neutral-color);
  color:var(--main-text-color);
  text-align:center;
  text-align: center;
  font-size: 1.5rem;
  padding:1rem;
  line-height: 1.5rem;
  
}

td {
  text-align: left;
  padding:8px;
  border-right: .25px solid var(--main-text-color);
  
}


tbody tr:nth-child(even){
  background-color: var(--accent-color);
}

/* Reservations Page */

#reservations-hero {
 position: relative;
 padding-top:10rem;
 padding-bottom:10rem;
 background-image: url("../images/scooter-rentals.webp");
 background-color: #63767a; 
 background-repeat:no-repeat;
 background-size: cover;
 background-position: bottom 20% right;
}

#period input, #period-fd input{
  display: inline;
}

fieldset {
  padding:1.5rem .5rem;
  margin: 2rem auto;
  max-width: 1200px;
  width:90%;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
 }

fieldset legend {
  min-width: 0;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

form label input, form label select  {
  margin:0 2rem 1rem 0;
   display:block;
}

#commentslabel {
  display:block;
  margin: 0 2rem;
}

#commentstext {
  margin:1rem auto;
  margin-bottom:2rem;
  display:block;
  width:90%;
  height:10rem;
  margin-top:.5rem;
}

.submitBtn {
  display:block;
  position:relative;
  margin:1rem auto;
  padding: 10px 10px;
  max-width: 200px;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: var(--main-text-color);
  color: var(--neutral-color);
  text-decoration: none;
  border-radius: 20px;    
}

.submitBtn:hover {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  outline: 2px solid var(--main-text-color);
}


/* Thank you Page */
.thankyouform {
  margin:3rem auto;
  padding:2rem;
  background-color: var(--neutral-color);
  max-width: 80%;
  border: 5px solid var(--accent-color);
  border-radius: 20px;
  box-shadow: 0 2px 6px var(--main-text-color);
}

/* Contact Page */
#map iframe {
  display:block;
  margin:0 auto;
  width:80%;
  height:35rem;
  max-width: 1200px;
}

#contact-text {
  display:block;
  width:100%;
  height:10rem;
  margin-top:.5rem;
}


.contact-form p{
  margin:0;
}