@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Unna:wght@400;700&display=swap");
/*Headings will be Unna 400 or 700*/
/*body text will be Lato 300, 400, or 700*/
:root{
  --background-color:#f2f2f2;
  --main-text-color:#023373;
  --accent-color:#f2cb05;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}


body {
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #023373;
  text-align: left;
  max-width: 350px;
  
}

header {
  position: relative;
  background-color: rgba(2, 51, 115, 1);
  text-align: center;
  padding: 1rem;
}

/* Dark Mode */
#mode{
   color: #bfd1e9;
 position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1rem;
	cursor: pointer;
}

h1,
h2,
h3,
h4 {
   text-align: center;
  font-family: "Unna", serif;
  line-height: 1.5em;
 
}

h1 {
   text-align: center;
  font-size: 3em;
  color: #f2cb05;
  padding: 0 10px 10px 10px;
  letter-spacing: 1.5px;
}

h2 {
  margin:0;
  font-size: 1.5em;
  color: #023373;
  padding: 5px;
  letter-spacing: 1.5px;

}

h3 {
   font-size: 1em;
  font-weight: bolder;
  color: #023373;
  letter-spacing: 1px;
  line-height: 1.5rem;
    text-transform: uppercase;
}


#menu {
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #023373;
  color: #f2f2f2;
  text-align: left;
}

#menu::before {
  content: "≡";
  font-size: 3rem;
}

.navigation {
display:block;
list-style: none;
margin: 0px;
max-width:720px;
background-color: #023373;
 } 

 .navigation li {
  display: none;
  padding: 0;
}

.navigation a {
  color:#f2f2f2;
  background-color: #023373;
  display: block;
  padding: 0.25rem;
  text-decoration: none;
  text-align: left;
  transition: 0.5s;
}
  
  .navigation a:hover,
  .navigation a:active {
    color: #aa0000;
    background-color: #f2f2f2;
  }

  .show li {
    display: block;
  }

  #menu.show::before {
    content: "↑";
  }

  .hero-image{
  position: relative;
  width: 1200px;
}

.hero-image .hero{
  max-width:100%;
  height:auto;
  object-fit: contain;
  object-position: center;
  object-fit: fill;
}

.hero-image .button{
  position: absolute;
  top: 35px;
  left: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #aa0000;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.hero-image .button:hover{
  color:#aa0000;
  background-color: #ffffff;
  outline: 2px solid #aa0000;
}

.card {
  margin:1.75rem;
  padding:.5rem;
  background-color: #bfd1e9;
  border: 1px solid #023373;
}

.card h2, .card h3, .card p {
  text-align: left;
}

hr {
  margin:0 0 .5em 0;
   border: 1px dotted #aa0000;
}
.spotlight{
  display: block;
}


footer{
  font-size: .8em;
  padding:2rem;
  background-color: #023373;
  color:#ffffff;
  text-align: center;
}

/* Discover Page */
main .discovery-grid{
  display:block;
  align-items:center;
  text-align: center;
  /* display:grid;
  grid-template-columns: auto; */
  background-color: #bfd1e9;
}

.sidebar h2{
  max-width:100%;
}
  

.sidebar{
  margin:5rem auto;
  padding:1.5rem;
  border:#aa0000 ridge 5px;
  background-color: #dfdfdf;
  border-radius: 8px;
}

#sidebar-1{
  margin-top:0;
}

#popchart{
  margin: 0 auto;
  max-height:100%;
  max-width:100%
}


.gallery img{
  margin-top:5rem;
  border-radius: 8px;
  box-shadow: 4px 4px 12px #023373;
}

#gallery-6{
  margin-bottom:2rem;
}
figcaption{
  margin:.5rem 0 0 1rem;
  text-align: center;
  font-size: .9rem;
  line-height: 1.2rem;
}

/* Join Page */
fieldset{
  margin: 2rem auto;
}

form label input{
   margin-bottom: 1rem;
}

.top input{
 display:block;
}

.bottom {
  display:block;
}

form > label{
  display:block;
   width: 100%;
  height: 10rem;
}

.description label{
display:block;
}

.description #description-text{
  display:block;
  width:100%;
  height:10rem;
  margin-top:.5rem;
}

.submitBtn{
  display:block;
  position:relative;
  margin:7rem auto;

  padding: 15px 25px;
  background-color: #aa0000;
  color: white;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.submitBtn:hover{
  color:#aa0000;
  background-color: #ffffff;
  outline: 2px solid #aa0000;
}