@media screen and (min-width: 720px) {
header {
   text-align: center;
    padding: 20px;
}

#menu {
    display: none;
  }

  .navigation{
  color:#ffffff;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  .navigation li {
    margin: 1.25rem;
    display: block;
  }
  
  .navigation a {
    background-color:#023373;
    padding:10px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
  }

.spotlight{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

  .spolight h2{
    text-align: center;
  grid-column: 1/4;
  }

#bus1{grid-column: 1/2;}

#bus2{grid-column: 2/3;}

#bus3{grid-column: 3/4;}

}