@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&family=Josefin+Slab:wght@700&display=swap");
/*font-family: 'Fira Sans', sans-serif;
  font-family: 'Josefin Slab', serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  color: #02454d;
  text-align: center;
  max-width: 960px;
  line-height: 1.75rem;
}

header {
  background-color: #037f8c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h2 {
  font-family: "Josefin Slab", serif;
  color: #02454d;
}

h1 {
  font-family: "Josefin Slab", serif;
  color: #ffffff;
  font-size: 48px;
  margin: 0;
}

header img {
  box-shadow: 5px 5px 10px rgba(1, 52, 58, 0.3);
  margin: 20px;
}

#menu {
  display: none;
}

.navigation {
  background-color: #026873;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 1.25rem;
  display: block;
}

.navigation a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:active {
  color: #026873;
  background-color: #ffffff;
}

.hero{
  margin:0 auto;
  position:relative;
  max-width:960px;
}

.hero img{
  width: 100%;
	height: 100%;
	object-fit: cover;
}


.herolabel{
  position:absolute;
  top:3rem;
  right:3rem;
 	background: radial-gradient(#fff, #9ab5e1);
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
  white-space: nowrap;
  }

.herolabel p{
  padding: 1.5rem;
  margin:0;
  color: #02454d;
  font-size: 2em;
  font-family: "Josefin Slab", serif;
}

.main-grid{
  width:100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  padding: 10px;
}
h2 {
  margin-top: 50px;
  font-size: 25px;
  grid-column: 1/3;
  text-align: center;
}

#learningactivities{
  grid-column: 1/2;
}

#information{
  grid-column: 2/3;
}

.card {
  margin: 50px 10px 10px 10px;
  border: 1px solid #026873;
}

.card h3 {
  font-family: "Josefin Slab", serif;
  margin: -1px 0;
  padding: 20px;
  background-color: #026873;
  color: #ffffff;
  font-size: 22px;
}

.card ul,
.card p {
  padding: 15px;
}

.card ul {
  list-style: numeric;
  text-align: left;
  margin: 10px 10px 10px 30px;
}

::marker {
  color: #02454d;
  font-size: 1.5rem;
}

.map {
  margin:10px;
  padding:10px;
  grid-column: 1/3;
  text-align: center;
}

